{% extends 'main_template.html' %}

{% block section1 %}



<p>{{ message }}</p>

<div id="div_selector">
    <select multiple="multiple" id="sb1" size="20" style="multiple:multiple; width:600px; padding: 0px 0px 0px 10px; width: 600px; position:relative; right:-1%;">
        {% for i in list_of_users %}
            <option value="{{ i }}"> {{ i }} </option>
        {% endfor %}
    </select>
</div>

<input style="width:600px; height:50px; font-size:100%;" type="button" id="run_s" value="Delete User/s"/>
<a id="run_link" href=/place_holder> <button style="display:none">send link</button> </a>


<script>
    document.getElementById("run_s").onclick = function(){
        var x
        if (confirm("You Really want to delete this users?")==true ){
            var lista = document.getElementById("sb1");
            var my_txt = "";
                for (var j=0; j<lista.length; j++){
                    if (lista.options[j].selected){
                        my_txt = my_txt + lista[j].text + "***"
                    }
                }
            document.getElementById("run_link").setAttribute("href", "/my_app/run_delete/?user_del="+my_txt);
            document.getElementById("run_link").click();
        }
    }
</script>


{% endblock %}